<mat-card class="regiform">
  <mat-card-content>
      <h4>Regi</h4>
      <span *ngIf="_error">
        <p> {{ _error }} </p>
      </span>
      <mat-form-field>
        <input matInput #userName type="text" placeholder="Name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput #userEmail type="email" placeholder="Email" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput #userPassword type="password" placeholder="Password">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput #userPasswordRe type="password" placeholder="Password again">
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)="regi(userName.value, userEmail.value, userPassword.value, userPasswordRe.value)">
          Regi
      </button>
  </mat-card-content>
</mat-card>