<mat-toolbar>
  <button mat-button routerLink="/">
    <mat-icon>Étlap</mat-icon>
   
  </button>

  <span fxHide="false" fxHide.gt-sm></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <div *ngIf="!authService.isLoggedIn">
      <button mat-button routerLink="/login">Bejelentkezés</button>
      <button mat-button routerLink="/regi">Regisztráció</button>
    </div>
    <div *ngIf="authService.isLoggedIn && authService.user.role == 'USER'">
      <span>Hello, {{ authService.user.name }}!</span>
      <button mat-button (click)="logout()">Logout</button>
      <button mat-button routerLink="/user"> Adataim </button>
      <button mat-button routerLink="/my-orders"> Rendeléseim </button>
    </div>
    <div *ngIf="authService.isLoggedIn && authService.user.role == 'ADMIN'">
      <button mat-button (click)="logout()">Kijelentkezés</button>
      <button mat-button routerLink="/orders"> Rendelések </button>
      <button mat-button routerLink="/users"> Felhasználók </button>
      <button mat-button routerLink="/add-food"> Új étel </button>
      <button mat-button routerLink="/add-orders"> Új rendelés </button>
    </div>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu xPosition="before" #menu="matMenu">
  <div *ngIf="!authService.isLoggedIn">
    <button mat-menu-item routerLink="/login">Login</button>
    <button mat-menu-item routerLink="/regi">Regisztráció</button>
  </div>
  <div *ngIf="authService.isLoggedIn">
    <button mat-button (click)="logout()">Logout</button>
    <div *ngIf="authService.user.role == 'USER'">
      <button mat-button routerLink="/user"> Adataim </button>
      <button mat-button routerLink="/my-orders"> Rendeléseim </button>
    </div>
    <div *ngIf="authService.user.role == 'ADMIN'">
        <button mat-button routerLink="/orders"> Rendelések </button>
        <button mat-button routerLink="/users"> Felhasznlók </button>
        <button mat-button routerLink="/add-food"> Új étel </button>
        <button mat-button routerLink="/add-orders"> Új rendelés </button>
    </div>
  </div>
</mat-menu>